rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null
        && request.auth.token.email != null
        && request.auth.token.email in [
          'aqarobhr@gmail.com',
          'aqarobhur@gmail.com'
        ];
    }

    match /aqarobhur_images/{allPaths=**} {
      allow read: if true;
      allow write, delete: if isAdmin();
    }
  }
}
